<link rel="stylesheet" href="/css/header.css">


<nav>
    <ul>
        <li class="menu"><a href="/"> Tectovia </a></li>
        <li class="hideOn"><a  href="/"> Home </a></li>  
        <li class="hideOn"><a href="/contact"> Contact </a></li> 
    
        <div class="dropdown">
           <button class="dropbtn"> Services </button>
            <div class="dropdown-content">
              <a href="/portfolio"> Portfolio </a>
              <a href="/workshop"> Workshop </a>
              <a href="/intership"> Intership </a> 
              <a href="/placement_training"> Placement Training </a> 
            </div>
        </div> 
        
        <li class="hideOn"><a href="/about_us"> About US  </a></li>  
            <button class="signbtn"><a href="/sign_in"> Sign IN </a></button> 
        <li class="hideOn"><a href="/sign_up"> Sign UP</a></li> 
    </ul>
</nav>
