<link rel="stylesheet" href="../css/about_us.css" />

<header>
  <div class="nav">
    <h1>ABOUT US</h1>
  </div>

  <div class="paragraph">
    <div class="sidenav">
      <h3>THE TECTOVIA</h3>
      <a href="#aboutus">About us</a>
      <a href="#expert">Expert Trainer</a>
      <a href="#placement">100% Job Placement</a>
      <a href="#flexible">Flexible & Affordable</a>
      <a href="#certification">Certification</a>
    </div>

    <div class="side">
      <div class="title">
        <section id="aboutus"><h2 class="about">ABOUT US</h2></section>
        <div class="para">
          <span class="firstword">
            <h4>
              THE ARCHERY SOLUTIONS is one of the growing young company,
              especially founded only for candidates considering their future
              with lots of experience to make the candidate achieve their dreams
              and join the race for a wealthy future.
            </h4></span
          >
          <span class="firstword1">
            <h4>
              Career counselling and course selection are some of the services
              we provide to help students achieve their professional goals. It's
              a one-stop shop for students who desire to work. We have a
              reputation for molding the futures of aspiring professionals. As a
              company, our goal is to have a positive impact on the future
              professional lives of those who want it. We are committed to
              providing students with high-quality service and a quick
              admissions process. We aim to prepare the candidates by the
              experts to upgrade their skills and knowledge relevant to the
              current trends in the market and also we offer professional
              training to students in various Domains.
            </h4></span
          >
          <span class="firstword2">
            <h3>"WE NEVER MAKE PROMISES, WE ONLY SHOW RESULT"</h3></span
          >
        </div>

        <section id="expert">Expert Trainer</section>
        <div class="title0">
          <h4>
            You can rely on our expert specialists and thought-leaders to
            collect insights on real-world skills delivered by leading masters.
            Set the sound foundation for your future job through hands-on
            practice on real-time projects. Get guidance from the experts who
            will lead you to your dreams<span class="second"
              ><h4>
                "Get guidance from the experts who will lead you to your
                dreams."
              </h4></span
            >
          </h4>
          <img
            src="./IMG/Screenshot 2024-01-12 141151.png"
            id="img1"
            alt=""
            srcset=""
          />
          <h4></h4>
        </div>

        <section id="placement">100% Job placements</section>
        <div class="title2">
          <img src="./IMG/ss10.png" alt="" srcset="" id="img2" />
          <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Archery
            Solutions assures to provide its students 100% Job placement and
            100% assurance. Also, we help you with mock tests preparation kit
            for interviews and resume preparation materials and study materials.
            Our core activity lies in assisting students to make the right
            choice with regard to Professional career<span class="third"
              ><h4>
                "Our core activity lies in assisting students to make the right
                choice with regard to Professional career."
              </h4></span
            >
          </h4>
        </div>

        <section id="flexible">Flexible & Affordable</section>
        <div class="title3">
          <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is the chance
            to get started on increasing skills by joining The Archery
            Solutions. We offers students the choice of online, offline &
            classroom sessions. You can choose the most suitable session to
            learn everything.<span class="four"
              ><h4>
                "We Cultivate Our Strong Culture And Work Tirelessly To Deliver
                Brilliant Results"
              </h4></span
            >
          </h4>
          <img src="./IMG/ss11.png" alt="" id="img3" srcset="" />
        </div>

        <section id="certification">Certification</section>
        <div class="title4">
          <h4>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The Archery
            Solutions offers you the course completion certificate for different
            IT & Non-IT Industry jobs. This will begin to your entry on the IT &
            Non IT field to tranquil. We help you to find the appropriate job
            based on the skills and knowledge and the flexibility.<span
              class="five"
              ><h4>"We Are Here To Explore You!"</h4></span
            >
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>

<script src="../public/js/about.js"></script>
