<link rel="stylesheet" href="/css/contact.css" />

<div class="container">
  <h1> Contact Us</h1><br><br>

  <div class="contact-info">
    <img src="/image/contact/person 2.png" alt="Contact Person 1" />
    <div>
      <h2>Contact Person 1</h2>
      <p>Email: contact1@example.com</p>
      <p>Phone: +1 555-1234</p>
    </div>
  </div>

  <div class="contact-info">
    <img src="/image/contact/person.jpg" alt="Contact Person 2" />
    <div>
      <h2>Contact Person 2</h2>
      <p>Email: contact2@example.com</p>
      <p>Phone: +1 555-5678</p>
    </div>
  </div>

  <div class="map-container">
    <!-- Replace the 'YOUR_GOOGLE_MAPS_EMBED_URL' with the actual embed URL from Google Maps -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3910.422838303963!2d77.40130197481541!3d11.449375388743304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba93d698880c345%3A0xe08dd16d1dc3a42f!2sGobi%20Arts%20%26%20Science%20College%2C%20Gobi!5e0!3m2!1sen!2sin!4v1705059353110!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    <div class="map-add">

        <h2 class="adef">ADDRESS</h2>
        <div class="hh">  
        <h4 >
        Gobi Arts & Science College, <br>
        Karatadipalayam,<br>
        Gobi,<br>
        Tamil Nadu-(638452) <br>
        Phone : 04285 - 240147, 240741,<br>
          Tele fax : 04285 240230,<br>
          Email: gobiartscollege@gascgobi.ac.in.</h4>
        </div>
    </div>
  </div><br><br>
  <!-- Add more contact persons as needed -->

  <div class="contact-form">
    <h2 style="text-align: center;">Send us a Message</h2>
      <form action="/feeback" method="post">
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required />

        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email" required />

        <label for="message">Your Message:</label>
        <textarea id="message" name="message" rows="4" required></textarea>

        <input type="submit" class="con_btn">
      </form>
  </div>
</div>
