<link rel="stylesheet" href="/css/index.css" />

  <div class="title1">
    <h1 class="welcome">WELCOME TO</h1>
    <br />
      <h1 class="title" contenteditable="true">TECTOVIA</h1>
   
    <br />
    

    <h3 class="line">TRUST US WE KNOW WHAT YOU WANT</h3>
    <div class="i">
      <img src="./IMG/phe.avif" alt="" srcset="" />
    </div>
  </div>

  <div class="side">
    <img src="./IMG/sc1.png" id="idea" srcset="" />
    <div class="title2">
      <div class="Learn">
        <h1>
          <span class="learn1">Learn </span> <br />
          <span class="underline-three">Any</span>thing..!
        </h1>
        <br /><br /><br />
      </div>

      <div class="para">
        <div class="point"><h3>CREATIVE STUDY PATTERN</h3></div>
        <div class="point"><h3>QUICK CRASH COURSES</h3></div>
        <div class="point"><h3>SIMPE AND EFFECTIVE</h3></div>
        <div class="point"><h3>CERTIFICATION AWARDED</h3></div>
      </div>
    </div>
  </div>

  <div class="title3">
    <div class="interactive">
      <h1>
        <span class="in">INTERACTIVE</span><br />
        <span class="underline-three">LEA</span>RING
      </h1>
      <div class="pp">
        <p>
          Lorem ipsum dolor sit amet consectetur , praesentium voluptas eaque!
          Error perspiciatis necessitatibus aliquid possimus consequuntur iure id
          officiis nihil placeat iusto soluta, sunt ex!
        </p>
      </div>
    </div>

    <img src="./IMG/sc2.png" alt="" id="img2" />
  </div>

  <div class="title4">
    <img src="./IMG/ss3.png" id="img3" alt="" srcset="" />
    <div class="EXCLUSIVE">
      <h1>EXCLUSIVE <br /><span class="underline-three">SUPP</span>ORT</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit sapiente,
        blanditiis cum expedita quidem sint exercitationem quae aliquid? Quasi,
        sequi, commodi numquam ducimus sit maiores totam nihil esse amet ad,
        expedita quibusdam recusandae labore quae in earum neque exercitationem!
        Autem corrupti fugit aliquid nesciunt omnis sint eius culpa, magni
        corporis.
      </p>
    </div>
  </div>

  <div class="title5">
    <h1 class="point1">OUR SERVISES</h1>
    <h1 class="point1">Online&Offline Courses</h1>
    <h1 class="point1">Placement Training</h1>
    <h1 class="point1">Workshops</h1>
    <h1 class="point1">Placement Support&Services</h1>
    <h1 class="point1">Intenship</h1>
  </div>

  <div class="title6">
    <img src="./IMG/ss4.png" alt="" srcset="" class="imgs" />
    <img src="./IMG/ss5.png" alt="" srcset="" class="imgs" />
    <img src="./IMG/ss6.png" alt="" srcset="" class="imgs" />
    <img src="./IMG/ss7.png" alt="" srcset="" class="imgs" />

    <div class="imgwords">
      <h3>Active Students</h3>
      <h3>Active Students</h3>
      <h3>Active Students</h3>
      <h3>Active Students</h3>
    </div>
  </div>

  <div class="title7">
    <img src="../img/vision.gif" id="img5" srcset="" />
    <div class="title7word">
      <h1>OUR <br /><span class="underline-three">VIS</span>ION</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
        consectetur dolorem repudiandae, exercitationem soluta illo ut accusantium
        explicabo dolor nemo amet veritatis inventore asperiores quis harum earum
        architecto eaque! Ratione.
      </p>
    </div>
  </div>

  <div class="title8">
    <div class="title8word">
      <h1>
        OUR <br />
        <span class="underline-three">MISS</span>ION
      </h1>
      <P
        >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore
        inventore ratione dolorem rem illum rerum pariatur molestias architecto
        repellat libero? Laboriosam maxime exercitationem ab quasi voluptatibus
        distinctio doloribus, excepturi aperiam!</P
      >
    </div>
    <img src="../img/mission.gif" id="img4" srcset="" />
  </div>

  <div class="title9">
    <h3>
      "The Arthery Solution has bought Employment to the dooestep of every <br />
      STUDENT"
    </h3>
  </div>

  <div class="title10">
    <form action="">
      <input type="text" placeholder="enter your email" />
      <button>SUBSCRIBE</button>
    </form>
  </div>
