<link rel="stylesheet" href="/css/placement.css">

<header class="header">
    <a href="#" class="logo">PLACEMENT TRAINING</a>

    

    <nav class="navbar">
        <a href="#home"></a>
        <a href="#about">Intro</a>
        <a href="#services">Demos</a>
        <a href="#provided">Features</a>
        <a href="#benifits">Documentation</a>
    </nav>
</header>   

<div class="title">
<div class="img1">
    <img src="/IMG/sss.png" alt="">
</div>
<div class="title1">
    <h1><span class="in">PLACEMENT</span><br> <span class="underline-three">TRAI</span>NING </h1>
    <h3>Once you are provided with the much-needed confidence,
        you are all set to go with Trainings. It also paves a path for a Professional Career, hence ensuring a bright future.
        <span class="para" ><h3>"Leadership and learning are indispensable to each other."</h3></span></h3>
</div></div>
<div class="title2">
<div class="para1">
<h1><span class="underline-three">PLACEMENT</span> TRAINING </h1>
<P>The placement training programs help students in developing specific skills related to their preferred subject or domain to stay ahead in the competition. Students participate in the various internships, live projects, summer training to gain corporate exposure. Equipping the students with relevant and conceptualized professional skills and guiding them towards a bright future and career with the values of - 'Sincerity', 'Hard Work' and 'Ethics'.
   <span class="para1"> "Success in management requires learning as fast as the world is changing.”</span></P>
</div>
<div class="img2">
<img src="/IMG/sss1.png" alt="">
</div>
</div>
<div class="title3">
<div class="img3">
    <img src="/IMG/sss3.png" alt="" srcset="">
</div>
<div class="para2">
    <h1>WHY PLACEMENT <br> TRAINING</h1>
    <P>Placement processes play a foremost role in shaping up the career objectives of students. It is the dream of every undergraduate student to get placed in a top organization. Keeping this key aspect into consideration, we help students to develop their employability skills and achieve good placement in several industries and MNCs around the world. Along with technical proficiency, and overall personality development is also crucial.</P>
</div>
</div>
<div class="title4"><div class="para1">
<h1>IMPORTANT</h1>
<p>
    • We provides the students with the opportunity to be involved in team-based working which increases group discussion skills and enhances decision-making skills as <br>
• It expands their knowledge of an industry or sector, which countenances them to make better well-versed decisions about future career. <br>
• By trying out different approaches continuously, you can improve your creativity and further sharpen it. <br>
• It also increases their awareness and knowledge of an industry or sector, allowing them to be responsible professionals and lead a successful career. <br>
• Placement training is to guide students to choose right career and to give knowledge, skill, and aptitude and meet the manpower requirements of the Industry.
</p>
</div>
<div class="img4">
<img src="/IMG/sss4.png" alt="">
</div>
</div>
<div class="title5">
<div class="img5">
    <img src="/IMG/sss5.png" alt="">
</div>
<div class="para3">
    <h1><span class="underline-three">SILV</span>ER PLAN</h1>
    <h2>Perks:</h2> <br>
    <p>•Candidates can apply only upto 2 companies <br>
        •Includes placement and Training <br>
        • Demo HR interaction
    </p>
</div>
</div>
<div class="title6">
<div class="para4">
    <h1>GOLD PLAN</h1>
<h2>Perks:</h2>
<p >• Candidates can apply upto 4 Companies. <br> • Includes Placement Training, <br>Spoken English, Aptitude, GD Training. <br>
    • CERTIFICATE OF INTERNSHIPS <br>
    • Demo HR Interactions. <br>
    • Voice Accent Training. <br>
    • Reference Bonus & Reference Card.</p>
</div>
<div class="img6">
    <img src="/IMG/sss6.png" alt="">
</div>

</div>

<div class="title7">
     <h2 class="benifits">BENIFITS FROM PLACEMENT <br> TRAINING</h2>
    <h1 class="point1" >OUR SERVISES</h1>
    <h1 class="point1">Online&Offline Courses</h1>
    <h1 class="point1">Placement Training</h1>
    <h1 class="point1">Workshops</h1>
    <h1 class="point1">Placement Support&Services</h1>
    <h1 class="point1">Intenship</h1>
  
</div>
