<link rel="stylesheet" href="/css/sign_in.css">


<div class="ring">
    <i style="--clr:#ff00d4;"></i>
    <i style="--clr:#bb00ff;"></i>
    <i style="--clr:#0004ff;"></i>

    <div class="login">
        <div class="ideathon_container">
            <svg>
              <text x="50%" y="50%" text-anchor="middle">
                Sign In 
              </text>
            </svg>	
        </div>

      <div class="inputBx">
        <input type="text" placeholder="Username">
      </div>

      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>

      <div class="inputBx">
        <input type="submit" value="Sign in">
      </div>

      <div class="links">
        <a href="#">Forget Password</a>
        <a href="/sign_up">Sign up</a>
      </div>

    </div>
</div>