<link rel="stylesheet" href="/css/sign_up.css">


<div class="ring">
    <i style="--clr:#00e1ff;"></i>
    <i style="--clr:#bb00ff;"></i>
    <i style="--clr:#ff00ae;"></i>

    <div class="login">
        <div class="ideathon_container">
            <svg>
              <text x="50%" y="50%" text-anchor="middle">
                Sign Up
              </text>
            </svg>	
        </div>

      <div class="inputBx">
        <input type="text" placeholder="Firstname">
      </div>

      <div class="inputBx">
        <input type="text" placeholder="lastname">
      </div>

      <div class="inputBx">
        <input type="email" placeholder="Email ID">
      </div>

      <div class="inputBx">
        <input type="password" placeholder="Password">
      </div>

      <div class="inputBx">
        <input type="submit" value="Sign in">
      </div>

      <div class="links">
        <a href="/sign_in">Sign in</a>
      </div>

    </div>
</div>