
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<link rel="stylesheet" href="/css/workshop.css">


<body class="body">
    <header class="header">
        <a href="#" class="logo">workshop</a>
    
        <i class='bx bx-menu' id="menu-icon" ></i>
    
        <nav class="navbarwrkshp">
            <a href="#home"></a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#provided">Provided</a>
            <a href="#benifits">Benifits</a>
        </nav>
    </header>
    
    <section class="home" id="home">
        <div class="home-content">
            <h1><span class="underline-three">WOR</span>KSHOP</h1>
            <h3>Workshop for students is to mold their future and help them to achieve their dream in their professional career. It's not just about  It's about making IDEAS HAPPEN DO IT ...with THE ARCHERY SOLUTIONS.</h3>
            <span class="para1"><h3>"You Don't Want to Look Back and Know You Could Have Done Better"</h3></span></h3>
        </div>
    
        <div class="home-img">
            <img src="./IMG/workshops.gif" alt="" srcset="">
        </div>
    </section>
    
    <div class="about" id="about">
        <div class="about-content">
            <div class="para2">
                    <h2>WORKSHOP:</h2>
                    <h3>The workshop will provide a clear mindset to seek a job and to exchange experiences, best practices, and ideas related to current and emerging issues associated with proper execution students research and learn on their own which boost their confidence, performance, and productivity. As a result of genuine interest shown by the students to know and learn about the subject, they research about the particular topic with the help of expert guidance and land in their conclusion after a careful investigation, experiment, and simulation.
                        "You Don't Want to Look Back and Know You Could Have Done Better"</h3>
            </div>
            <div class="para3">
                <h2>UNDERSTANGING WORKSHOP:</h2>
                <h3>Workshops provide a chance to interact with experts from the specific field. Discussing about the relevant topics of the particular subject, students tend to learn about the latest information and new skills related to the concerned subject. As a result of genuine interest shown by the students to know and learn about the subject, they research about the particular topic with the help of expert guidance and land in their conclusion after a careful investigation, experiment, and simulation. The chains of networking can help the students in escalation of their professional life.</h3>
            </div>
        </div>
    </div>
    
    <section class="services" id="services">
            <h2 class="heading">Our <span>Services</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Development</h3>
                <p>The workshop will provide a clear and learn on their own which boost their confidence, performance, and productivity. As a result of genuine interest shown by the students to know and learn about the subject,, and simulation.</p>
            </div>
            <div class="services-box">
                <i class='bx bxs-paint'></i>
                <h3>Graphic design</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate esse consequatur eius! Corporis amet numquam nam pariatur eius nesciunt ut nihil enim perspiciatis et. Debitis neque excepturi officia eius fugit?</p>
            </div>
            <div class="services-box">
                <i class='bx bx-bar-chart-alt'></i>
                <h3>Digital marketing</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate esse consequatur eius! Corporis amet numquam nam pariatur eius nesciunt ut nihil enim perspiciatis et. Debitis neque excepturi officia eius fugit?</p>
            </div>
        </div>
    </section>
    
    <section class="provided" id="provided">
        <div class="imp">
            <h1>IMPORTANCE:</h1> 
            <p>•By learning about new topics and meeting leaders in their field student feels encouraged and motivated.  <br>
            •Listening to any prominent personality in any seminar or workshop helps the student to gain information about their way of work or how things take place. <br>
            •It helps to know about professional institutions and new discoveries in their field. Workshops and seminars can address prevalent challenges and difficulties business professionals face daily. <br>
            •Participants can share their ideas and views on tackling the problem, which can provide a new perspective on how to address it.</p>
        </div>
    
        <div class="provide"><h1>We Provided:</h1>
            <p> • Career Guidance. <br>
            •  Professional Crack. <br>
            •  Mock Interview Mystery.<br>
            •  Career Fair Organization.<br>
            •  Soft Skill Training.<br>
            •  Job Market Research.<br>
            •  Logical Reasoning & Aptitude.<br>
            •  The Game.<br>
            • Certification.<br>
            </p>
        </div>
    </section>
    
    <section class="benifits" id="benifits">
        <div class="title5">
            <h1 class="point1" >Benifits</h1>
            <h1 class="point1">• A Different Environment than Classroom to enhance communication by gaining expert knowledge.</h1>
            <h1 class="point1">Proficiency in Verbal Communication
                and Acquirement of Knowledge in Particular Field to advance your career.</h1>
            <h1 class="point1">• Gives an Idea of what the competitive world has in store for them when they step out of their comfort zone.</h1>
            <h1 class="point1">Helps you think outside the box and let you practice interpersonal skills to
                develop the New Progress.</h1>
            <h1 class="point1">Learning from the industry experts for
                Growth in Networking and share experiences, exchange perspectives.</h1>
        </div>
    </section> 
</body>
