  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .container {
    margin-left: 20%;
    width: 60%;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
  }

  h1 {
    color: #02035f;
  }

  .contact-info {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .contact-info img {
    max-width: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .contact-info h2 {
    font-size: 20px;
    color: #540069;
    margin-left: 150px;
  }

  .contact-info p {
    font-size: 16px;
    color: #000000;
    margin-left: 150px;
  }

  .contact-form {
    text-align: left;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  label {
    font-weight: 500;
    margin-bottom: 8px;
    color: #000000;
  }

  input,
  textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #474747;
    border-radius: 6px;
  }

  .con_btn {
    margin-left: 40%;
    padding: 10px 20px;
    width: 20%;
    height: 50px;
    font-weight: 600;
    background-color: #bb00ff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .con_btn:hover {
    background-color: #ff006a;
    border: 2px solid rgb(0, 0, 0);
  }

  /* Map details */
  .map-container {
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    background: #e0f7fa;
  }

  .map-container iframe {
    width: 50%;
    height: 300px; 
    border: 0;
  }

  .map-add {
    font-family: "Poppins", sans-serif;
    font-size: 15px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;  
    margin-left: 10%;
    border-radius: 10px;
    background-color: #e0f7fa;
    padding: 15px;
}

.hh{
  margin: 0%;
  margin-top: 40px;
}

h4{
  margin: 0% ;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.adef{
  font-family: "Poppins", sans-serif;
  margin: 3%;
  margin-top: 5%;
}