@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.ring {
  margin: 5%;
  margin-left: 30%;
  position: relative;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ring i {
  position: absolute;
  inset: 0;
  border: 2px solid #000000;
  transition: 0.5s;
}

.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 4s linear infinite;
}

.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 10s linear infinite;
}

.ring:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.login {
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.login h2 {
  font-size: 2em;
  color: #000000;
}

.login .inputBx {
  position: relative;
  width: 100%;
}

.login .inputBx input {
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid #120198;
  border-radius: 40px;
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  box-shadow: none;
  outline: none;
}

.login .inputBx input[type="submit"] {
  width: 100%;
  color: #ffffffff;
  background: linear-gradient(45deg, #c803ff, #2c0073);
  border: none;
  cursor: pointer;
}

.login .inputBx input[type="submit"]:hover {
    width: 100%;
    color: #ffffffff;
    background: linear-gradient(45deg, #2c0073, #c803ff);
    border: none;
    cursor: pointer;
  }

.login .inputBx input::placeholder {
  color: rgba(66, 65, 65, 0.75);
}

.login .links {
    margin-left: 60%;
    position: relative;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .login .links a {
    color: #000000;
    text-decoration: none;
  }

/* Text animation */
@import url(root.css);

svg {
	font-family: var(--primary-font);
	width: 400px;
}
svg text {
    font-weight: 700;
	animation: stroke 5s infinite alternate;
	stroke-width: 1;
	stroke: var(--primary-color);
	font-size: 80px;
    text-shadow: 0 0 20px var(--primary-color-light);
}

@keyframes stroke {
	0%   {
		fill: var(--primary-color-light); stroke: var(--primary-color);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	70%  {fill: var(--primary-color-light); stroke: var(--primary-color); }
	80%  {fill: var(--primary-color-light); stroke: var(--primary-color); stroke-width: 2; }
	100% {
		fill: var(--primary-color-light); stroke: var(--primary-color); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}


@media (max-width:769px) {

    svg text {
        font-size: 35px;
    }

    @keyframes stroke {
        0%   {
            fill: var(--primary-color-light); stroke: var(--primary-color);
            stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
        }
        70%  {fill: var(--primary-color-light); stroke: var(--primary-color); }
        80%  {fill: var(--primary-color-light); stroke: var(--primary-color); stroke-width: 1; }
        100% {
            fill: var(--primary-color-light); stroke: var(--primary-color); 
            stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
        }
    }
}

@media (max-width:350px) {

    svg text {
        font-size: 30px;
    }

    @keyframes stroke {
        0%   {
            fill: var(--primary-color-light); stroke: var(--primary-color);
            stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
        }
        70%  {fill: var(--primary-color-light); stroke: var(--primary-color); }
        80%  {fill: var(--primary-color-light); stroke: var(--primary-color); stroke-width: 1; }
        100% {
            fill: var(--primary-color-light); stroke: var(--primary-color); 
            stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
        }
    }
}